<div class="top_bar">
    <div class="languages">
        <div class="lang_text">Idiomas:</div>
        <a href="#" onclick="original();" class="lang"><img src="@Href("~/comp/imgs/bann_br.jpg")" alt="" title="" border="0" /></a>
        <a href="#" onclick="href='http://translate.google.com/translate?u='+encodeURIComponent(location.href)+'&amp;langpair=pt|en&amp;hl=en'" class="lang">
            <img src="@Href("~/comp/imgs/bann_en.jpg")" alt="" title="" border="0" /></a>
        
        <a class="translate-flag"
 title="Translate to TargetLangName" target="_blank"><img border="0" style="cursor: pointer;" src="FlagIconURL" /></a> 
        
    </div>
    
    <div class="top_search">
        <div class="search_text"><a href="#">Buscar</a></div>
        <input type="text" class="search_input" name="search" />
        <input type="image" src="@Href("~/comp/imgs/search.gif")" class="search_bt"/>
    </div>
    
    <div class="conta_usuario">
        @if( WebSecurity.IsAuthenticated )
        {
            <div class="usuario_bemvindo">Bem Vindo <a href="@Href("~/conta/conta.cshtml")">@WebSecurity.CurrentUserName.</a></div>
            <a href="@Href("~/conta/logout.cshtml")">Sair</a>
        }else
        {
            <a href="@Href("~/conta/login.cshtml")">Entrar</a>
            <span>
                <a href="@Href("~/conta/registrar.cshtml")">Registrar</a>
            </span>
        }
    </div>
    
</div>
            
<div id="header">
    <div id="logo">
        <a href="@Href("~/")"><img src="@Href("~/comp/imgs/logo.png")" alt="" title="" border="0" width="237" height="140" /></a>
    </div>
</div>