<div class="top_bar">
    
    <div class="top_search">
        <div class="search_text"><a href="#">Buscar</a></div>
        <input type="text" class="search_input" name="search" />
        <input type="image" src="@Href("~/comp/imgs/search.gif")" class="search_bt"/>
    </div>
    
    <div class="conta_usuario">
        @if( WebSecurity.IsAuthenticated )
        {
            <div class="usuario_bemvindo">Bem Vindo <a href="@Href("~/conta/conta.cshtml")">@WebSecurity.CurrentUserName.</a></div>
            <a href="@Href("~/conta/logout.cshtml")">Sair</a>
        }else
        {
            <a href="@Href("~/conta/login.cshtml")">Entrar</a>
            <span>
                <a href="@Href("~/conta/registrar.cshtml")">Registrar</a>
            </span>
        }
    </div>
    
</div>
            
<div id="header">
    <div id="logo">
        <a href="@Href("~/")"><img src="@Href("~/comp/imgs/logo.png")" alt="" title="" border="0" width="237" height="140" /></a>
    </div>
</div>