<div class="left_content">
    <div class="title_box">Seções</div>

    <ul class="left_menu">
        @{
            var db = Database.Open("generalMarket");
            var secoes = db.Query("SELECT id,nome,img FROM secao");
            
            var liclass = "odd";
        }
        @foreach(var secao in secoes ){            
            <li class="@liclass">
                <a href="@Href("~/produtos.cshtml?s=" + secao.id)">
                @{ /*if( !string.IsNullOrEmpty(secao.img) )
                {
                    <img src="@Href("~/imgs/secao/" + secao.img)" />                    
                }
                else*/
                {
                    <img src="@Href("~/comp/imgs/checked.png")" />
                } }
                <span>@secao.nome</span>
                </a>
            </li>
            
            if( liclass.Equals("odd") )
            {
                liclass = "even";
            }else
            {
                liclass = "odd";
            }
        }
    </ul>

    <div class="title_box">Produtos Especiais</div>

    <div class="border_box">
        <div class="product_title"><a href="detalhes.html">Motorola 156 MX-VL</a></div>
        <div class="product_img"><a href="detalhes.html"><img src="images/laptop.png" alt="" title="" border="0" /></a></div>
        <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
    </div>

    <div class="title_box">Notícias</div>

    <div class="border_box">
        <input type="text" name="newsletter" class="newsletter_input" value="your email"/>
        <a href="#" class="join">Inscreva-se</a><div class="clear_floats"></div>
    </div>  
    
    <div class="banner_adds">                    
        <a href="#"><img src="images/bann2.jpg" alt="" title="" border="0" /></a>
    </div>
</div>